nav
{list-style-type: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidebar {  
    width: 200px;
    height: 100%;
    background: #169f7b;
    color: #fff;
}

/* CSS FOR SMALL SIDENAV */
.sidebar-small{
    width: 68px;
    height: 100%;
    background: #169f7b;
    color: #fff;
}

.fas{color: #fff}



.sidebar .sidebar-header{
    background: #169f7b;
    padding: 10px;
    margin: 0 auto;
}

.sidebar-header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.li{align-content: center;}

.icon{
    color: #fff;
    background: #169f7b;
}

.dropdown-menu{
    color: #fff;
    background: #169f7b;
    line-height: 40px;
    margin-left: 20px;
}

.dropdown-menu li a{
    color:#fff;
}

.submenuItem{
    color:#fff;
}



/* MAIN SECTION AND STATIC DIV */

.fa-align-justify {background-color: #169f7b;
    color: #fff}
    .hamburger{background-color: #169f7b;}
    .sidebar-header{background-color: #169f7b;}

#main {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}




























